.content {
   padding: 20px;
}

.header {
   display: flex;
   border-bottom: 1px solid #ddd;
   background: #fff;
}

.header__logo {
   width: 200px;
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-right: 1px solid #ddd;
}

.header__nav {
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex: 1;
}

.header__nav-left {
   display: flex;
   align-items: center;
   font-size: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.layout-default {
  padding-top: 110px; 
}

.sider {
  position: fixed;
  top: 120px; 
  bottom: 0;
}

.content {
  margin-left: 200px; 
  overflow-y: auto;
  margin-top: 20px;
}

.header__nav-right{
   margin-right: 50px;
}


.header {
   display: flex;
   background: var(--bg-primary);
   border-bottom: 1px solid var(--border-color);
}

.header__logo {
   border-right: 1px solid var(--border-color);
}


.layout-default {
  padding-top: 110px; 
  background-color: var(--bg-secondary);
}

.sider {
  position: fixed;
  top: 120px; 
  bottom: 0;
  background-color: var(--bg-primary) !important; /* Thêm !important để ghi đè theme 'light' của Antd */
  border-right: 1px solid var(--border-color);
}

.content {
  margin-left: 200px; 
  overflow-y: auto;
  margin-top: 20px;
  padding: 20px;
  /* Content sẽ tự động có màu nền của body */
}

